<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form [formGroup]="productForm" *ngIf="productForm" (submit)="updateProduct()" #formDir="ngForm">
      <mat-form-field>
            <input matInput placeholder="Nome" name="name" formControlName="name">
            <div *ngIf="name.invalid && formDir.submitted" class="v-error">
                <p *ngIf="name.errors?.['required']">Nome do produto é obrigatório.</p>
            </div>
        </mat-form-field> 
        <mat-form-field> 
            <input matInput placeholder="Preco (R$)" type="number" name="price" formControlName="price">
            <div *ngIf="price.invalid && formDir.submitted" class="v-error">
                <p *ngIf="price.errors?.['required']">Preço do produto é obrigatório.</p>
            </div>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
            Salvar
        </button>
        <button mat-raised-button (click)="cancel()" color="warn">
            Cancelar
        </button>
    </form>
</mat-card>
